.booking-title{
    // margin-left: 230px;
    padding-top: 50px;
    // margin-bottom: 28px;
    margin: 0 auto;
   max-width: 825px;

    h1{
        font-size: 60px;
    color: black;
    font-family: "Proxima Nova EC Thin";
    }

}

@media screen and (max-width: 800px) {
    .booking-title{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 auto;
        font-size: 60px;
        color: black;
        font-family: "Proxima Nova EC Thin";


    }
}
