@font-face {
    font-family: "Gill Sans Regular";
    src: url("../css/fonts/GillSans.ttf");
}

@font-face {
    font-family: "Gill Sans Light";
    src: url("../css/fonts/GillSans-Light.ttf");
}

@font-face {
    font-family: "Gill Sans Italic";
    src: url("../css/fonts/GillSans-Italic.ttf");
}

@font-face {
    font-family: "Proxima Nova Thin";
    src: url("../css/fonts/Proxima-Nova-Thin.otf");
}

@font-face {
    font-family: "Proxima Nova EC";
    src: url("../css/fonts/ProximaNovaScOsfExtraCondensed.ttf");
}

@font-face {
    font-family: "Proxima Nova EC Thin";
    src: url("../css/fonts/ProximaNovaExtraCondensedThin.otf");
}