.package-hero-israel {
  height: 413px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tour-01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;

  .package-hero-caption {
    width: 612px;
    height: 98px;
    position: absolute;
    left: 30px;
    top: 30px;

    p {
      font-size: 80px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }

  .package-price {
    width: 328px;
    height: 37px;
    position: absolute;
    right: -2px;
    bottom: -10px;

    p {
      font-size: 30px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }
}

.package-hero-usa {
  height: 413px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tour-02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;

  .package-hero-caption {
    width: 612px;
    height: 98px;
    position: absolute;
    left: 30px;
    top: 30px;

    p {
      font-size: 80px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }

  .package-price {
    width: 328px;
    height: 37px;
    position: absolute;
    right: -2px;
    bottom: -10px;

    p {
      font-size: 30px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }
}

.package-hero-aus {
  height: 413px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tour-03.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;

  .package-hero-caption {
    width: 612px;
    height: 98px;
    position: absolute;
    left: 30px;
    top: 30px;

    p {
      font-size: 80px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }

  .package-price {
    width: 328px;
    height: 37px;
    position: absolute;
    right: -2px;
    bottom: -10px;

    p {
      font-size: 30px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }
}

.package-hero-new-zealand {
  height: 413px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tour-04.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;

  .package-hero-caption {
    width: 612px;
    height: 98px;
    position: absolute;
    left: 30px;
    top: 30px;

    p {
      font-size: 80px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }

  .package-price {
    width: 328px;
    height: 37px;
    position: absolute;
    right: -2px;
    bottom: -10px;

    p {
      font-size: 30px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }
}

.package-hero-france {
  height: 413px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tour-05.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;

  .package-hero-caption {
    width: 612px;
    height: 98px;
    position: absolute;
    left: 30px;
    top: 30px;

    p {
      font-size: 80px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }

  .package-price {
    width: 331px;
    height: 37px;
    position: absolute;
    right: -2px;
    bottom: -10px;

    p {
      font-size: 30px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }
}

.package-hero-egypt {
  height: 413px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tour-06.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;

  .package-hero-caption {
    width: 612px;
    height: 98px;
    position: absolute;
    left: 30px;
    top: 30px;

    p {
      font-size: 80px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }

  .package-price {
    width: 328px;
    height: 37px;
    position: absolute;
    right: -2px;
    bottom: -10px;

    p {
      font-size: 30px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }
}

.package-hero-japan {
  height: 413px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tour-07.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;

  .package-hero-caption {
    width: 612px;
    height: 98px;
    position: absolute;
    left: 30px;
    top: 30px;

    p {
      font-size: 80px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }

  .package-price {
    width: 328px;
    height: 37px;
    position: absolute;
    right: -2px;
    bottom: -10px;

    p {
      font-size: 30px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }
}

.package-hero-canada {
  height: 413px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tour-08.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;

  .package-hero-caption {
    width: 612px;
    height: 98px;
    position: absolute;
    left: 30px;
    top: 30px;

    p {
      font-size: 80px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }

  .package-price {
    width: 331px;
    height: 37px;
    position: absolute;
    right: -2px;
    bottom: -10px;

    p {
      font-size: 30px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }
}

.package-hero-uae {
  height: 413px;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/tour-09.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  margin-top: 50px;

  .package-hero-caption {
    width: 612px;
    height: 98px;
    position: absolute;
    left: 30px;
    top: 30px;

    p {
      font-size: 80px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }

  .package-price {
    width: 331px;
    height: 37px;
    position: absolute;
    right: -2px;
    bottom: -10px;

    p {
      font-size: 30px;
      color: white;
      font-family: "Proxima Nova EC Thin";
    }
  }
}
